<div class="jumbotron">
	<h1>What is Gradster?</h1>
	<p>
		Gradster helps you keep track of your univeristy or college grades so you don't have too. 
	</p>

	<p>
		<a class="btn btn-info btn-lg" role="button">Learn more</a>
	</p>


	<p class="login-sign-button">
		<a class="btn btn-info btn-lg" role="button" href="/users/sign_in" >Log in</a>			  	
		<a class="btn btn-info btn-lg" role="button" href="/users/sign_up" >Sign up</a>
	</p>	

</div>
		