<div class="container">
	<div class="jumbotron">
		<h1 class="page-header" align="center">Gradster <small>The online grade calculator</small></h1>
		<p align="center">
			Gradster helps you organize your course grades so you don't have to. 
		</p>


		<p class="login-sign-button">
			<a class="btn btn-info btn-lg" role="button" href="/users/sign_up" >Sign up</a>
		</p>	

		</br>

	</div>
</div>