<div class="container">
	<div id="learn-more-title-bar" class="page-header">
		<h1>Gradster <small> The online grade calculator</small></h1>
	</div>

	<div class="container">
		<h2 class="page-header">What is Gradster?</h2>
		<h4 class="container"><p align="left">
			Gradster is a service created to help students elimate the hassle of keeping track of their course grades
		 	throughout the semester. Whether you're a student wanting to maintain a certaing grade, bump up that grade, or just 
		 	pass the course, Gradster can help you stay on track.</p>
		</h4>

		</br>
		</br>

		<h2 class="page-header">How Gradster calculates your grade <small> Using components and marks</small></h2>
		<div class="container">
			<div align="center">	
				<h3>Components: <small>Labs, Quizes, Tests, Midterm, Final</small></h3>
				<h3>Marks: <small>The marks you receive for the corresponding components</small></h3>
			</div>	
			</br>

				<div class="alert alert-info">
					<h4 align="center">
						Just add all your course components, with their respective weights on your final grade.
					</br>
						Add your marks throughout the semester, and BAM! 
					</h4>
				</div>
				

		</div>


	</div>

</div>


	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

