<div class="container">
	<div id="learn-more-title-bar" class="page-header" align="center">
		<h1>Gradster <small> The online grade calculator</small></h1>
	</div>

	<div class="container">
		<h2 class="page-header">What is Gradster?</h2>
		<h4 class="container"><p align="left">
			Gradster is a service created to help students elimate the hassle of keeping track of their course grades
		 	throughout the semester. Whether you're a student wanting to maintain a certaing grade, bump up that grade, or just 
		 	pass the course, Gradster can help you stay on track.</p>
		</h4>

		</br>
		</br>

		<h2 class="page-header">
			How Gradster calculates grades <small> Using components and marks</small>
		</h2>
		<div class="container">
			<div>	
				<h3>Components & Component Weights: <small> Assignments, Labs, Quizes, Tests, Midterm, Final</small></h3>
				<h3>Marks: <small>The marks you receive for the corresponding components</small></h3>
			</div>	
			</br>

			<div class="alert alert-info">
				<h4 align="center">
					Just setup all the course components, with their respective weights on the final grade.</br>
					Add the marks throughout the semester, and BAM! 
				</h4>
				<h1 align="center">A+</h1>
			</div>
		</div>

		</br>
		</br>

		<h2 class="page-header">Example Course <small>Introduction to Legal Studies</small></h2>
		<div class="well">
			<div align="center">
				<h4>Assignment 1<small> - 15%</small></h4>
				<h4>Assingment 2<small> - 20%</small></h4>
				<h4>Assignment 3<small> - 25%</small></h4>
				<h4>Final<small> - 40%</small></h4></br>

				<h4>
				 <i class="fa fa-check"></i>
				 1) Setup Gradster with the 4 components and their corresponding component weights </br>
				 <i class="fa fa-check"></i>
				 2) Add their marks throughout the duration of the course </br>
				 <i class="fa fa-check"></i>
				 3) Calculate the current grade or play around with marks to see what you need to get your desired mark. </br>
				</h4>

				

			</div>
			
		</div>


	</div>

</div>


	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

