<div class="container">
	<div id="learn-more-title-bar" class="page-header">
		<h1>About Gradster</h1>
	</div>

	<div class="container">
			<h2 class="page-header">What is Gradster?</h2>
			<h4 class="container"><p align="left">
				Gradster is a service created to help students elimate the hassle of keeping track of their course grades
			 	throughout the semester. Whether you're a student wanting to maintain a certaing grade, bump up that grade, or just 
			 	pass the course, Gradster can help you stay on track.</p>
			</h4>

		</br>
		</br>

		<div class="welsl-lg">
			<div class="tabbable">
			  <ul class="nav nav-pills nav-stacked col-md-4">
			    <li class="active"><a href="#pane1" data-toggle="tab">WHO</a></li>
			    <li><a href="#pane2" data-toggle="tab">WHAT</a></li>
			    <li><a href="#pane3" data-toggle="tab">WHEN</a></li>
			    <li><a href="#pane4" data-toggle="tab">WHERE</a></li>
			    <li><a href="#pane5" data-toggle="tab">WHY</a></li>
			  </ul>
			  <div class="tab-content">
			    <div id="pane1" class="tab-pane active">
			      <h3>Who should use Gradster?</h3>
			      <pre>Students of any program! As long as you know how your final mark will be graded, you should have no problem using Gradster. A course outline will usually have a section indicating how your final mark will be calculated.  
			      </pre>
			    </div>
			    <div id="pane2" class="tab-pane">
			    <h3>What is Gradster</h3>
						<pre>The only online grade calculating service that will keep all your grades in a centrailized  location. </pre>
			    </div>
			    <div id="pane3" class="tab-pane">
			      <h3>When should I use Gradster?</h3>
			      <pre>Whether you're just about to start a new semester, midway through your semester, or just    about to write your finals. Gradster can be a helpful tool in planning what marks you need  to maintain to get your desired grade. 
			      </pre>
			    </div>
			    <div id="pane4" class="tab-pane	">
			      <h3>Where can I use gradster?</h3>
			      <pre> Anywhere! Gradster is mobile friendly.</pre>
			    </div>
			    <div id="pane5" class="tab-pane	">
			      <h3>Why should I use Gradster?</h3>
			      <pre>Gradster is a great tool to understand where your final grade is comming from. You can find out where your mark is lagging and with the help of Gradster, determine what marks you need to compensate for those lagging marks. </pre>
			    </div>
			  </div><!-- /.tab-content -->
			</div><!-- /.tabbable -->
		</div>

		</br>
		</br>
		</br>


	</div>

</div>


	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

