<fieldset class="col-md-offset-7">
	<div class="row">

		<div class="col-md-6">
		  <%= f.number_field :mark, :class => "form-control", :placeholder => "Mark" %>
		</div>

		<div class="checkbox">
			<%= f.hidden_field :_destroy %>
		  <%= f.check_box :_destroy %> 
			<%= f.label :_destroy, "Delete" %>
		</div>
	</div>
</fieldset>