
<span>
	<h1 class="page-header">
	Editing course
	<%= link_to ' Delete', @course, method: :delete,
						   data:{confirm: "Are you sure you want to delete this?"}, 
						   :class => "btn btn-danger fa fa-trash-o pull-right"%>
	</h1>
</span>						       		

<%= render 'form' %>

<div class="buttons">
	<%= link_to 'Cancel', course_path %>
</div>