<h1 class="page-header">
	<%= current_user.profile_name %>'s Courses
</h1>

<% user_courses = 0 %> 

<% @courses.each do |course| %>
 	<% if (course.user_id == current_user.id) %>
 		<% user_courses = user_courses + 1 %>
		  <div class="course"> 
			  <h3> <%= link_to course.name , course %> </h3>  

			  	<h4 style="display: inline"> 
			  		<% if course.grade == 0 %> 
			  			<strong> You haven't added any marks </strong> 
			  		<% else %> 
				  		<strong> Current Grade: </strong>  <%= course.grade %>%
				  	<% end %> 
			  	</h4>
			    <div id="delete-btn" > 
			      <%= link_to "Delete", course, method: :delete,
			       	data:{confirm: "Are you sure you want to delete this?"}, :class => 'btn btn-sm btn-danger'  %>
			    </div>
		  
		  </div>
	<% end %>  
<% end %> 
<br />

<div id="add-course-message">
	<% if user_courses == 0 %> 
		<h3> Add some courses to get started with Gradster! </h3>
	<% end %>
</div> 

<div class="add-course-btn">
	<a class="btn btn-success btn-sm" role="button" href="courses/new" >Add Course</a>	
</div>


