// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*//-- index.html.erb --//*/
.course{
	padding-top: 20px; 
	border-bottom: solid 1px #CCC; 
}
.add-course-btn{
	text-align: right;
	padding-bottom: 50px;
	padding-right: 20px
}
#add-course-message{
	text-align: center;
	padding: 30px 0px 50px 0px;
}

#delete-btn{
	text-align: right;
}
#component-overview{
	border-bottom: solid 1px #CCC; 
}



/*//-- show.html.erb -- //*/
.title{
	font-family: "Arial Black", Gadget, sans-serif; 
	font-size: 24px; 
}
.main-control{
	border-bottom: solid 1px #888888;
	text-align: right;
}

.add_component_button{
	text-align: right;
}
.components{
	padding-top: 40px;
}
.component{
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom: solid 1px #CCC;
}
#control{
	text-align: right;
}
#marks{
	padding-left: 40px;
}

#component-grading{
	text-align: right;

}
.final-grade{
	padding-top: 50px; 
	text-align: right;
}
.add-comp-message{
	text-align: center;
}
#add-mark-message{
	text-align: center;
}
.add-mark-btn{

	padding-bottom: 20px;
}
.right-tab-grade{
	display: inline-block;
}
.component-grade{
	text-align: right; 
}

/*//-- edit.html.erb -- //*/
.buttons{
	padding-top: 50px;
}
#evaluations-mark-fieldset{
	padding-left: 50px;
}
#comp-block{
	padding-top: 35px; 
	padding-bottom: 35px;
	border-bottom: solid 1px #E6E6E6;

}
#delete-comp-btn{
	margin-top: 70px;
}
.checkbox{
	display: inline-block;
}
#delete-comp{
	display: inline-block;
}
#comp-title{
}
#add-mark-btn{
  list-style-type: none;
  text-align: right;
  padding-top: 8px;
}

/*//-- EXPANDABLE PANELS -- //*/
.clickable
{
    cursor: pointer;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.panel-heading span
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: -9px;
}
a.clickable { color: inherit; }
a.clickable:hover { text-decoration:none; }

.expandable-title a {
	color: white;
	padding-right: 15px;
}


