// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*//-- padding to compensate for twitter bootstrap navbar --//*/
body{
	padding-top: 25px;
}


/*//-- index.html.erb --//*/
.course{
	padding-top: 20px; 
	border-bottom: solid 1px #CCC; 
}
.add-course-btn{
	text-align: right;
}
#add-course-message{
	text-align: center;
	padding: 30px 0px 50px 0px;
}

#delete-btn{
	text-align: right;
}


/*//-- show.html.erb -- //*/
.title{
	font-family: "Arial Black", Gadget, sans-serif; 
	font-size: 24px; 
}
.main-control{
	border-bottom: solid 1px #888888;
	text-align: right;
}

.add_component_button{
	padding: 20px 0;
	border-bottom: solid 1px #C0C0C0;

}
.components{
	padding-top: 40px;
}
.component{
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom: solid 1px #CCC;
}
#control{
	text-align: right;
}
#marks{
	padding-left: 40px;
}

#component-grading{
	text-align: right;

}
.final-grade{
	padding-top: 50px; 
	text-align: right;
}
.add-comp-message{
	text-align: center;
}
#add-mark-message{
	text-align: center;
}


/*//-- edit.html.erb -- //*/
.buttons{
	padding-top: 50px;
}



