// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*//-- padding to compensate for twitter bootstrap navbar --//*/
body{
	padding-top: 75px;
}


/*//-- index.html.erb --//*/
.course{
	border-bottom: solid 1px #CCC; 
	padding: 1px 0; 

}


/*//-- show.html.erb -- //*/
.title{
	font-family: "Arial Black", Gadget, sans-serif; 
	font-size: 24px; 
}

.add_component_button{
	padding: 20px 0;
	border-bottom: solid 1px #CCC;

}
.components{
	padding-top: 40px;
}
.component{
	padding-bottom: 25px;
	padding-top: 25px;
	border-bottom: solid 1px #CCC;

}


/*//-- edit.html.erb -- //*/
.buttons{
	padding-top: 50px;
}



